extends layout

block head
  link(rel='stylesheet', href='stylesheets/bestellen.css')
block content
  - function formatCurrency( number ) { number = number.toString().replace('.', ','); if ( number.split(',').length < 2 ) { number += ',00'; } while( number.split(',')[1].length < 2 ) { number += '0'; } return number + ' €'; }
  div(class="main")
    div(class="form overview")
      div
        img(src="/images/clixxie_logo.png")
      div
        a(href="/album")
          u Zur&uuml;ck zum Fotobuch
        hr
        h1= title
        div
          b E-Mail: 
          br
          span= order.invoice_address.email
        div
          b Liefer- und Rechnungsadresse: 
          br
          span= order.invoice_address.name
          span &nbsp;
          span= order.invoice_address.surname
          br
          span= order.invoice_address.company
          br
          span= order.invoice_address.street
          br
          span= order.invoice_address.zip_code
          span &nbsp;
          span= order.invoice_address.district
          span &nbsp;
          span= order.invoice_address.city
          span &nbsp;
          span= order.invoice_address.country_name
        hr
        div
          b Produkt: 
          br
          span= order.order_items[0].quantity
          span &nbsp;
          span x Squarebuch 30 Fotos a
          span &nbsp;
          span= formatCurrency( order.order_items[0].amount_eu )
        div
          b Versandkosten: 
          br
          span= formatCurrency( order.order_items[0].shipping_cost_eu )
        div
          b Zwischensumme: 
          br
          - var zs = +order.amount_eu + +order.order_items[0].shipping_cost_eu
          span= formatCurrency( zs )
        if +order.discount_amount > 0
          div
            b Rabatt: 
            br
            span= formatCurrency( order.discount_amount )
        if +order.payment_type_commission > 0
          div
            b Zuschlag Rechnung: 
            br
            span= formatCurrency( order.payment_type_commission )
        div
          b Endbetrag: 
          br
          span= formatCurrency( order.total_price )
        hr
        div
          b Zahlungsart: 
          br
          if +order.payment_type_id === PAYMENT_TYPE_ID_PAYPAL
            span PayPal
          else
            span Auf Rechnung
        div
          a(class="kaufen_link", href=kaufen_link).
            Kaufen
